@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    color: white;
}

body{
    background-image: url(assets/audience-1850119_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;

}

ul li{
    display: inline-block;
    padding: 10px;
    color: white;
}

.social-media{
    margin-left: 20px;
    font-size: 20px;
}
.nav{
    display: flex;
    background-color: black;
}

.navigate{
    margin-left: 20px;
    font-family:'Rubik Glitch';

}
.navigate li{
    margin-left: 10px;    

}

.navigate li:hover{
    background-color: #ff0078;
}

main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.text{
    text-align: center;
}

footer div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    border-right: 2px solid #ff0078;
    margin: auto;
    height: 100%;

}

footer div p {
    width: 20%;
    margin: auto;
    font-size: 20px;
    
}

footer{
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
    
}

.fa-music{
    background-color: #ff0078 ;
}

.fa-user{
    background-color: coral;
}

.fa-video{
    background-color: aquamarine;
}

footer{
    margin-top: 88px;
    background-color: rgba(0, 0, 0, 0.466);
}

footer i{
    font-size: 50px;
    /* background-color: black; */
    border-radius: 100px;
    padding: 23px;
    width: 15%;
    margin: auto;
    
    
}


.new{
    margin-bottom: 40px;
    font-family: 'Roboto';
    border-bottom: 2px solid #ff0078;
    width: 120px;
    margin: 0 auto 40px  ;
    
}

.tectonic{
    font-size: 24px;
    font-family: 'Permanent Marker';
}

.tectonic:hover{
    font-size: 28px;
    margin-top: 10px;
    margin-left: 10px;
    color: #ff0078;
    text-decoration: underline;
}

.long{
    margin: 20px;
}

.more{
    padding: 10px;
    border-radius: 25px;
    background-color: #ff0078;
    color: white;
    font-size: 10px;
}

.more:hover{
    background-color: white;
    color: #ff0078;
    border: none;
}

.new span{
    font-size: 20px;
}

